<mat-card class="forgot-card">
    <mat-card-title class="card-title">FORGOT PASSWORD</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <table class="card-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="card-full-width">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="isFieldInvalid('email')">
                                Please enter registered email
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-card-actions>
                <button [disabled]="!form.valid" mat-raised-button color="accent" type="submit">next</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>