.forgot-card {
    max-width: 300px;
    margin: 150px auto auto auto;
 }

.card-full-width {
    width: 100%;
}

.card-title {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}
  
mat-card-actions {
    margin: 0 auto;
}

mat-card-content {
    margin-top: 20px;
}

.mat-raised-button{
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-transform: uppercase;
}
 