<mat-card class="profile-card">
    <img mat-card-image src="/assets/background.jpg" class="card-img-top" alt="profile background">
    <div>
        <label for="file-input">
            <div *ngIf="isImageLoaded" fxLayoutAlign="center">
                <span *ngIf="isImageAvailable">
                    <img [src]="imageToShow" alt="sample profile photo" class="profile-photo">
                </span>
            </div>
        </label>
        <input type="file" name="picture" id="file-input" (change)="onProfilePhotoUpload($event)" accept="image/*" />
    </div>

    <p class="user-name">{{activeUserObject.firstName}} {{activeUserObject.lastName}}</p>
    <p class="user-address">{{activeUserObject.city}}</p>
    <hr>
    <div class="user-info">{{noOfConnections}} Connections</div>
    <hr>
    <div class="user-info">{{noOfPosts}} Posts</div>
    <hr>
</mat-card>
