<div *ngIf="( isNewForm | async); then newForm else formSubmitted"></div>
<ng-template #newForm>
    <mat-card class="reset-card">
        <mat-card-title class="card-title">RESET PASSWORD</mat-card-title>
        <hr class="dialog-title-hr">
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <table class="card-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="card-full-width">
                                <input matInput placeholder="Password" formControlName="password" type="password">
                                <mat-error *ngIf="isFieldInvalid('password')">
                                    Please enter password
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="card-full-width">
                                <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
                                <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                                    Please enter confirm password
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <mat-card-actions>
                    <button [disabled]="!form.valid" mat-raised-button color="accent" type="submit">reset</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #formSubmitted>
    <div>
        <div class="formsubmitted-card">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            <div>Your password has been reset successfully. Please login to your account.</div>
        </div>
    </div>
</ng-template>
